##
# resource file to record msfconsole activity, load external auxiliarys into msfdb, display msf version
# display sessions core command output, execute another rc file (handler-rc) and use makerc to store commands.
# https://github.com/r00t-3xp10it/hacking-material-books/blob/master/metasploit-RC%5BERB%5D/metasploit_resource_files.md
##
spool /root/logfile.log
loadpath /root/msf-auxiliarys
version
sessions -v
resource /root/handler.rc
makerc /root/commands.rc
